.Overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-lesch-visible="false"] {
    display: none;
  }
}
