@use '../../styles/mixins.scss';

.Map {
  padding: 100px;

  &-Settings {
    margin-bottom: 20px;

    & > div {
      display: flex;
      align-items: center;
      margin-block: 10px;
    }
  }

  &-Wrapper {
    display: flex;
    justify-content: center;
  }
}

$mobile-screen-width: var(--mobile-screen-width);

@include mixins.mobile {
  .Map {
    padding: 20px;
  }
}